body {
  background-color: #fff;
  margin: 0 auto;
  font-family: "PingFangSC-Regular";
}
header .suspension-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 22.4vw;
  background-color: #fff;
}
header .suspension-box .m-navbar {
  height: 11.7333vw;
  padding: 0 3.2vw 0 4.8vw;
}
header .suspension-box .logo {
  float: left;
  height: 11.7333vw;
  line-height: 11.7333vw;
}
header .suspension-box .logo i {
  color: #fb7299;
  font-size: 7.4667vw;
}
header .suspension-box .right {
  display: flex;
  align-items: center;
  float: right;
  height: 11.7333vw;
}
header .suspension-box .right .search-icon {
  width: 5.8667vw;
  height: 5.8667vw;
  margin-right: 5.3333vw;
}
header .suspension-box .right .search-icon i {
  font-size: 5.8667vw;
  color: #ccc;
}
header .suspension-box .right .user-img {
  width: 6.4vw;
  height: 6.4vw;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5.3333vw;
}
header .suspension-box .right .dowload {
  width: 19.2vw;
  height: 6.4vw;
}
header .suspension-box .channel-menu {
  position: relative;
  height: 10.6667vw;
  line-height: 10.6667vw;
}
header .suspension-box .channel-menu li {
  float: left;
}
header .suspension-box .channel-menu li a {
  display: block;
  height: 10.6667vw;
  padding: 0 4.2667vw;
  color: #505050;
  font-size: 3.7333vw;
}
header .suspension-box .channel-menu li a span {
  display: block;
  height: 100%;
}
header .suspension-box .channel-menu li:nth-child(1) a {
  color: #fb7299;
}
header .suspension-box .channel-menu li:nth-child(1) a span {
  border-bottom: 2px solid #fb7299;
}
header .suspension-box .channel-menu .after {
  position: absolute;
  top: 1.0667vw;
  right: -0.2667vw;
  margin-top: 1.3333vw;
  height: 5.9733vw;
  line-height: 5.9733vw;
  background-color: #fff;
}
header .suspension-box .channel-menu .after i {
  margin: 0 2.6667vw;
  font-size: 5.3333vw;
  color: #aaa;
}
.bili-main {
  height: 1000px;
  background-color: yellow;
}
